[Unit]
Description=Fire notifications when new emails are found in your offline mailboxes. 

[Service]
Environment=PATH=/usr/local/bin:/usr/bin:%h/.local/bin:%h/bin
ExecStart=%h/.local/bin/mailnotify-run

[Install]
WantedBy=default.target
